.balance_calendar {
  position: absolute;
  height: auto;
  z-index: 999;
  top: 30;
  left: 400;
  box-shadow: 2px 21px 38px 8px rgba(194, 188, 188, 0.75);
  -webkit-box-shadow: 2px 21px 38px 8px rgba(194, 188, 188, 0.75);
  -moz-box-shadow: 2px 21px 38px 8px rgba(194, 188, 188, 0.75);
}
